.App {
  text-align: center;
}



header {
  background-image: url("../public/owen-wilson.jpeg");
  background-repeat:repeat;
  background-position:center;
  background-size:auto;
  height: 150px;
}

main {
  background-color: rgba(15, 1, 1, 0.674);

  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(230, 224, 224) ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
